<div class="row main-content">
    <boliger-top-image></boliger-top-image>

    <div class="col-sm-3 login-view"></div>
    <div class="col-sm-6 login-view">
        <md-card class="main-card">
            <div *ngIf="!isLoading">
                <md-card-title>Opdater dine oplysninger</md-card-title>
                <md-card-subtitle class="error-message" *ngIf="!succesful">
                    <p *ngFor="let error of errors | error">{{error.value}}</p>
                </md-card-subtitle>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Fornavn" [(ngModel)]="model.FirstName" type="text">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Efternavn" [(ngModel)]="model.LastName" type="text">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Telefon" [(ngModel)]="model.PhoneNumber" type="tel">
                </md-input-container>


                <div class="row">

                    <md-input-container class="col-xs-2">
                        <input mdInput placeholder="Postnummer" [(ngModel)]="model.Address.Zip" type="number">
                    </md-input-container>
                    <md-input-container class="col-xs-10">
                        <input mdInput placeholder="By" [(ngModel)]="model.Address.City" type="text">
                    </md-input-container>

                </div>

                <md-input-container class="full-width">
                    <input mdInput placeholder="Vej" [(ngModel)]="model.Address.Street" type="text">
                </md-input-container>

                <md-card-actions>
                    <button md-raised-button routerLink="/profile" color="accent">Tilbage</button>
                    <button md-raised-button (click)="changeProfile()" color="accent">Opdater</button>
                </md-card-actions>
            </div>

            <md-spinner class="loading-spinner" *ngIf="isLoading"></md-spinner>
        </md-card>


    </div>
    <div class="col-sm-3 login-view"></div>
</div>
