<div class="row main-content">
    <boliger-top-image></boliger-top-image>

    <div class="col-sm-3 login-view"></div>
    <div class="col-sm-6 login-view">
        <md-card class="main-card">
            <div *ngIf="!isLoading">
                <md-card-title>Skift kodeord</md-card-title>
                <md-card-subtitle class="error-message" *ngIf="!succesful">
                    <p *ngFor="let error of errors | error">{{error.value}}</p>
                </md-card-subtitle>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Nuværende kodeord" [(ngModel)]="model.OldPassword" type="password">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Nyt kodeord" [(ngModel)]="model.NewPassword" type="password">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Bekræft kodeord" [(ngModel)]="model.ConfirmPassword"
                           type="password">
                </md-input-container>

                <md-card-actions>
                    <button md-raised-button routerLink="/profile" color="accent">Tilbage</button>
                    <button md-raised-button (click)="changePassword()" color="accent">Skift kodeord</button>
                </md-card-actions>
            </div>

            <md-spinner class="loading-spinner" *ngIf="isLoading"></md-spinner>
        </md-card>


    </div>
    <div class="col-sm-3 login-view"></div>
</div>
