<div class="row main-content">
  <boliger-top-image></boliger-top-image>
  <div class="col-sm-3 login-view"></div>
  <div class="col-sm-6 login-view">
    <md-card>
      <div *ngIf="!isLoading">
        <md-card-title>Log ind</md-card-title>
        <md-card-subtitle class="error-message" *ngIf="!succesful">
          <p>{{errors}}</p>
        </md-card-subtitle>
        <md-input-container class="full-width">
          <input mdInput placeholder="E-mail" type="email" [(ngModel)]="userModel.Email">
        </md-input-container>
        <md-input-container class="full-width">
          <input mdInput placeholder="Kodeord" type="password" [(ngModel)]="userModel.Password">
        </md-input-container>
        <md-card-actions>
          <button md-raised-button color="accent" routerLink="/register">Opret ny bruger</button>
          <button md-raised-button color="accent" (click)="login()">Log ind</button>
        </md-card-actions>
      </div>
      <md-spinner class="loading-spinner" *ngIf="isLoading"></md-spinner>
    </md-card>
  </div>
  <div class="col-sm-3 login-view"></div>
</div>
