.footer {
  background-color: #FF9100;
  color: white;
}

.row.footer {
  bottom: 0%;
  width: 100%;
}

.store-icon {
  width: 160px;
}

.col-md-4 {
  padding-left: 10%;
  padding-bottom: 2.5%;
}

.row {
  margin: 0px;
}

.copyright {
  text-align: center;
}

a {
  color: white !important;
}
