<div class="row footer">
  <div class="col-md-4">
    <h3>BOLIGER.DK</h3>
    <a routerLink="/">Find bolig</a>
    <br>
    <a routerLink="/map">Kort</a>
    <br>
    <a routerLink="">Profil</a>
  </div>
  <div class="col-md-4">
    <h3>VI ER SOCIALE</h3>
    <p>Facebook</p>
    <p>LinkedIn</p>
    <p>Instagram</p>
  </div>
  <div class="col-md-4">
    <h3>DOWNLOAD APP</h3>
    <div class="row">
      <img class="store-icon" src="../../assets/appstore.svg">
    </div>
    <div class="row">
      <img class="store-icon" src="../../assets/playstore.png">
    </div>
  </div>

  <div class="row copyright">
    <p>Copyright © Boliger.dk - Alle rettigheder forbeholdes</p>
  </div>
</div>
