.main-content {
  margin: 0px;
}

.margin-div {
  background: white;
  margin: 10px;
  padding: 10px;
}

.residence-title {
  font-size: 200% !important;
}

.map {
  height: 30vh;
}

.contact-icon {
  height: 75px;
  width: 75px;
  margin: 10px 0px;
}

.contact {
  text-align: center;
}