<boliger-top-image></boliger-top-image>
<div class="row main-content">
    <div class="col-md-6">
        <md-card class="margin-div">
            <div class="row">
                <div class="col-md-12">
                    <md-card-header>
                        <md-card-subtitle>
                            {{residence.Type}}
                        </md-card-subtitle>
                        <md-card-title class="residence-title">
                            {{residence.Address.Street}}
                        </md-card-title>
                        <md-card-subtitle>
                            {{residence.Address.Zip}} {{residence.Address.City}}
                        </md-card-subtitle>
                    </md-card-header>
                </div>
                <md-card-content>
                    <div class="col-md-12">
                        <h3>
                            {{residence.Title}}
                        </h3>
                        <p>{{residence.Description}}</p>
                    </div>
                </md-card-content>
            </div>
        </md-card>

        <md-card class="margin-div">
            <md-card-content>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Information</h3>
                    </div>
                    <div class="col-md-6">
                        <p>Husleje</p>
                        <p>Størrelse</p>
                        <p>Antal værelser</p>
                        <p>Indskud</p>
                        <p>Aconto</p>
                        <p>Forudbetalt husleje</p>
                        <p>Møbleret</p>
                        <p>Dyr tilladt</p>
                        <p>Energimærke</p>
                        <p>Bolig oprettet</p>
                    </div>
                    <div class="col-md-6">
                        <p>{{residence.Rent}}</p>
                        <p>{{residence.Size}} m2</p>
                        <p>{{residence.Rooms}}</p>
                        <p>{{residence.Deposit}}</p>
                        <p>{{residence.Aconto}}</p>
                        <p>{{residence.PrepaidRent}}</p>
                        <p>{{residence.Furnished | jaNej}}</p>
                        <p>{{residence.Animal | jaNej}}</p>
                        <p>{{residence.Energy}}</p>
                        <p>{{residence.CreationDate | date:dMMMMy}}</p>
                    </div>
                </div>
            </md-card-content>
        </md-card>

        <md-card class="margin-div">
            <md-card-content>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Kontakt</h3>
                    </div>
                    <div class="col-md-6 contact">
                        <img class="contact-icon" src="../../../assets/phone.png"/>
                        <a href="tel:{{user.PhoneNumber}}"><h4>{{user.PhoneNumber}}</h4></a>
                    </div>
                    <div class="col-md-6 contact">
                        <img class="contact-icon" src="../../../assets/mail.png"/>
                        <a href="mailto:{{user.Email}}"><h4>{{user.Email}}</h4></a>
                    </div>
                </div>
            </md-card-content>
        </md-card>

        <md-card class="margin-div">
            <sebm-google-map class="map" [longitude]="residence.Position.Longitude"
                             [latitude]="residence.Position.Latitude"
                             [zoom]="15">
                <sebm-google-map-marker [longitude]="residence.Position.Longitude"
                                        [latitude]="residence.Position.Latitude"
                                        [iconUrl]=" '../../assets/pin.png'"></sebm-google-map-marker>
            </sebm-google-map>
        </md-card>
    </div>

    <div class="col-md-6">
        <md-card class="margin-div">
            <img style="width: 100%; padding-bottom: 10px;" *ngFor="let image of residence.Images" [src]="image.Image"/>
        </md-card>
    </div>

</div>
