.main-content {
  background-color: silver;
  min-width: 80vh;
}

md-card-actions.mat-card-actions {
  text-align: right;
}

.login-view {
  padding: 0px;
}

.full-width {
  width: 100%;
}

md-card.mat-card {
  margin-top: 10%;
  margin-bottom: 10%;
}

.col-xs-2, .col-xs-10 {
  padding: 0px;
}

.error-message {
  color: red;
}

.loading-spinner {
  margin: auto;
}

md-select {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
}
