<div class="row main-content">
    <boliger-top-image></boliger-top-image>

    <div class="col-sm-3 login-view"></div>
    <div class="col-sm-6 login-view">
        <md-card class="main-card">
            <div *ngIf="!isLoading">
                <md-card-title>Indtast oplysninger om boligen</md-card-title>
                <md-card-subtitle class="error-message" *ngIf="!succesful">
                    <p *ngFor="let error of errors | error">{{error.value}}</p>
                </md-card-subtitle>
                <md-card-subtitle class="error-message" *ngIf="!succesful">
                </md-card-subtitle>
                <md-select placeholder="Vælg type" [(ngModel)]='model.Type'>
                    <md-option *ngFor="let type of types" [value]="type.value">
                        {{type.value}}
                    </md-option>
                </md-select>
                <md-input-container class="full-width" mdTooltip="Eksempel: Stor og rummelig lejlighed">
                    <input mdInput placeholder="Titel"
                           [(ngModel)]="model.Title" type="text">
                </md-input-container>
                <md-input-container class="full-width" mdTooltip="Beskriv lejligheden og omgivelserne">
                    <input mdInput placeholder="Beskrivelse"
                           [(ngModel)]="model.Description" type="text">
                </md-input-container>


                <md-card-title style="margin-top: 10px;">Adresse</md-card-title>

                <div class="row">
                    <md-input-container class="col-xs-2">
                        <input mdInput placeholder="Postnr." [(ngModel)]="model.Address.Zip" type="number">
                    </md-input-container>
                    <md-input-container class="col-xs-10">
                        <input mdInput placeholder="By" [(ngModel)]="model.Address.City" type="text">
                    </md-input-container>
                </div>

                <md-input-container class="full-width">
                    <input mdInput placeholder="Vej" [(ngModel)]="model.Address.Street" type="text">
                </md-input-container>

                <md-card-title style="margin-top: 10px;">Informationer</md-card-title>

                <md-input-container class="full-width">
                    <input mdInput placeholder="Husleje" [(ngModel)]="model.Rent" type="number">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Størrelse" [(ngModel)]="model.Size" type="number">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Antal værelser" [(ngModel)]="model.Rooms" type="number">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Indskud" [(ngModel)]="model.Deposit" type="number">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Aconto" [(ngModel)]="model.Aconto" type="number">
                </md-input-container>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Forudbetalt husleje" [(ngModel)]="model.PrepaidRent" type="number">
                </md-input-container>
                <md-select placeholder="Vælg energimærke" [(ngModel)]='model.Energy'>
                    <md-option *ngFor="let energy of energy" [value]="energy.value">
                        {{energy.value}}
                    </md-option>
                </md-select>

                <md-slide-toggle [(ngModel)]="model.Furnished">Møbleret</md-slide-toggle>
                <md-slide-toggle [(ngModel)]="model.Animal">Dyr tilladt</md-slide-toggle>

                <md-card-title style="margin-top: 10px;">Billeder af boligen</md-card-title>

                <input #image1 type="file" accept="image/*" (change)="changeListener($event, 0)">
                <input #image2 type="file" accept="image/*" (change)="changeListener($event, 1)"
                       [disabled]="image1.files.length == 0">
                <input #image3 type="file" accept="image/*" (change)="changeListener($event, 2)"
                       [disabled]="image2.files.length == 0">
                <input #image4 type="file" accept="image/*" (change)="changeListener($event, 3)"
                       [disabled]="image3.files.length == 0">
                <input #image5 type="file" accept="image/*" (change)="changeListener($event, 4)"
                       [disabled]="image4.files.length == 0">
                <input #image6 type="file" accept="image/*" (change)="changeListener($event, 5)"
                       [disabled]="image5.files.length == 0">

                <md-card-actions>
                    <button md-raised-button routerLink="/profile" color="accent">Tilbage
                    </button>
                    <button md-raised-button (click)="createResidence()" color="accent">Opret</button>
                </md-card-actions>
            </div>

            <md-spinner class="loading-spinner" *ngIf="isLoading"></md-spinner>
        </md-card>


    </div>
    <div class="col-sm-3 login-view"></div>
</div>
