.sebm-google-map-container {
    height: 80vh;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.background {
    background-color: silver !important;
}

.residence-card {
    margin: 25px 20px;
}

.residence-title {
    font-size: 200% !important;
    cursor: pointer;
}

.residence-image {
    padding: 10px;
    height: 500px;
    cursor: pointer;
}

.residence-info-values {
    text-align: end;
}

.residence-button {
    width: 100%;
    cursor: pointer;
}

.no-selected-card {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}