<div class="row background">
    <boliger-top-search-bar (searchResidencesEvent)="search($event)"></boliger-top-search-bar>
    <div class="col-md-6">
        <sebm-google-map [latitude]="lat" [longitude]="lng">
            <sebm-google-map-marker *ngFor="let residence of residences | async"
                                    [latitude]="residence.Position.Latitude"
                                    [longitude]="residence.Position.Longitude"
                                    [iconUrl]=" '../../assets/pin.png'"
                                    (markerClick)="changeSelectedResidence(residence)"></sebm-google-map-marker>
        </sebm-google-map>
    </div>
    <div class="col-md-6">
        <boliger-residences-list-cell *ngIf="isSelected" class=""
                                      [residence]="selectedResidence"></boliger-residences-list-cell>
        <div class="row" *ngIf="!isSelected">
            <md-card class="no-selected-card">
                <md-card-title>Klik på en bolig for at se flere informationer</md-card-title>
            </md-card>
        </div>
    </div>
</div>
