<div class="row main-content">
    <h2 class="no-result" *ngIf="(residences | async)?.length==0">Ingen boliger fundet. Prøv med et andet søgeord..</h2>
    <md-spinner class="loading-spinner" *ngIf="isLoading"></md-spinner>
    <boliger-residences-list-cell class="col-sm-6 col-lg-4" *ngFor="let residence of residences | async"
                                  [residence]="residence"></boliger-residences-list-cell>
</div>
