.row {
    background-color: silver !important;
}

.no-result {
    text-align: center;
    padding-top: 50px;
    height: 50vh;
}

.loading-spinner {
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    min-height: 50vh;
}