<md-toolbar color="primary">
    <button style="" md-button routerLink="/">
        <img class="logo" src="assets/logo.png"/>
    </button>
    <span class="example-fill-remaining-space"></span>
    <button class="top-button" md-button routerLink="/">
        FIND BOLIG
    </button>
    <button class="top-button" md-button routerLink="/map">
        KORT
    </button>
    <button class="top-button" md-button *ngIf="loggedIn || token" routerLink="/profile">
        PROFIL
    </button>
    <button class="top-button" md-button *ngIf="!loggedIn && !token" routerLink="/login">
        LOG IND
    </button>
    <button class="top-button" md-button *ngIf="loggedIn || token" (click)="logout()" routerLink="/">
        LOG UD
    </button>
</md-toolbar>
