.main-content {
  margin: 0px;
}

.margin-div {
  background: white;
  margin: 10px;
  padding: 10px;
}

.contact-icon {
  height: 75px;
  width: 75px;
  margin: 10px 0px;
}

.contact {
  text-align: center;
}

.residence-card {
  margin-bottom: 1%;
}

md-card-actions {
  text-align: right;
  padding: 0px 15px 15px 15px;
  margin-bottom: 0px !important;
}

.pointer {
  cursor: pointer;
}
