<div class="row main-content">
  <boliger-top-image></boliger-top-image>
  <div class="col-md-6">

    <md-card class="margin-div">
      <md-card-content>
        <div class="row">
          <div class="col-md-12">
            <h3>Profil</h3>
          </div>
          <div class="col-md-6">
            <p>Navn</p>
            <p>E-mail</p>
            <p>Telefon</p>
            <p>By</p>
            <p>Vej</p>
          </div>
          <div class="col-md-6">
            <p>{{user.FirstName}} {{user.LastName}}</p>
            <p>{{user.Email}}</p>
            <p>{{user.PhoneNumber}}</p>
            <p>{{user.Address.Zip}} {{user.Address.City}}</p>
            <p>{{user.Address.Street}}</p>
          </div>
        </div>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button [routerLink]="['/change-profile']" color="accent">Ret profil</button>
        <button md-raised-button [routerLink]="['/change-password']" color="accent">Skift kodeord</button>
      </md-card-actions>
    </md-card>


  </div>

  <div class="col-md-6">
    <md-card class="margin-div">
      <md-card-content>
        <div class="row">
          <div class="col-md-12">
            <h3>Lej din bolig ud</h3>
          </div>
          <div class="col-md-12">
            <button md-raised-button color="accent" style="width: 100%;" routerLink="/residence-create">
              Opret bolig
            </button>
          </div>
        </div>
      </md-card-content>
    </md-card>

    <md-card class="margin-div">


      <md-list>
        <h3 md-subheader>Dine boliger</h3>
        <md-list-item class="residence-card" *ngFor="let residence of user.Residences">

          <img class="pointer" md-list-avatar class="residence-image" [src]="residence.Images[0].Image"
               [routerLink]="['/residence', residence.Id]">
          <h4 class="pointer" md-line [routerLink]=" ['/residence', residence.Id]">
            {{residence.Address.Street}}</h4>
          <span style="width: 100%; text-align: right">
                        <button md-raised-button color="accent"
                                [routerLink]="['/residence-edit', residence.Id]">Rediger</button>
                        <button md-raised-button color="warn" (click)="deleteResidence(residence)">Slet</button>
                    </span>
          <p md-line>{{residence.Address.Zip}} {{residence.Address.City}}</p>
          <p md-line>{{residence.CreationDate | date: dMMMMy}} </p>
        </md-list-item>

        <md-list-item *ngIf="user?.Residences?.length == 0">
          <h4>Du har endnu ikke oprettet din første bolig</h4>
        </md-list-item>

        <md-divider></md-divider>
        <h3 md-subheader>I alt: {{user?.Residences?.length}} </h3>
      </md-list>

    </md-card>
  </div>

</div>
