<!--<div class="col-sm-6 col-lg-4">-->
<md-card class="residence-card">
    <md-card-header>
        <md-card-subtitle>
            {{residence.Type}}
        </md-card-subtitle>
        <md-card-title class="residence-title" [routerLink]="['/residence', residence.Id]">
            {{residence.Address.Street}}
        </md-card-title>
        <md-card-subtitle>
            {{residence.Address.Zip}} {{residence.Address.City}}
        </md-card-subtitle>
    </md-card-header>
    <img class="residence-image" md-card-image src="{{residence.Images[0].Image}}"
         [routerLink]="['/residence', residence.Id]">
    <md-card-content>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-6 residence-info-labels">
                        <p>Husleje</p>
                        <p>Størrelse</p>
                        <p>Værelser</p>
                    </div>
                    <div class="col-xs-6 residence-info-values">
                        <p>{{residence.Rent}} </p>
                        <p>{{residence.Size}}</p>
                        <p>{{residence.Rooms}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button class="residence-button" md-raised-button color="accent"
                        [routerLink]="['/residence', residence.Id]">Se
                    mere
                </button>
            </div>
        </div>
    </md-card-content>
</md-card>
<!--</div>-->