.residence-card {
  margin: 25px 20px;
}

.residence-title {
  font-size: 200% !important;
  cursor: pointer;
}

.residence-image {
  padding: 10px;
  height: 300px;
  cursor: pointer;
}

.residence-info-values {
  text-align: end;
}

.residence-button {
  width: 100%;
  cursor: pointer;
}

