.background-image {
  background-image: url('../../../assets/search-bar-image.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.search-input {
  height: 50px;
  margin: (125px 10%);
  width: 80%;
  font-size: 22px;
}