<div class="main-div">
    <boliger-top-search-bar (searchResidencesEvent)="search($event)"></boliger-top-search-bar>
    <boliger-residences-list [residences]="residences" [isLoading]="isLoading"></boliger-residences-list>
</div>
